@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300;1,500&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap');
@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css');
:root{
    /* dark color scheme */
    /* --home-gradient: linear-gradient(to right, transparent 10%, #00003a); */
    --box-shadow: 0px 0px 3px 20px rgba(199, 23, 129, .7);
    --shadow-1: 0 3px 4px rgba(0,0,0,0.15);
    --backdrop: rgba(0,0,0,.7);
  

    /* light color theme */
    --main-color: #000;
    --little: #ff007c;
    --neutral-color: #fff;
    --modal-bottom: #c71781;
    --main-text-background: rgba(255, 255, 255, .1);
    


    /* size variation*/
    --margin-05: .5rem;
    --margin-075: .75rem;
    --margin-01: 1rem;

    --font-regular-mono: 400;
    --font-bold-mono: 700;
    --font-thin-robo: 100;
    --font-light-robo: 300;
    --font-regular-robo: 400;
    --font-bold-robo: 500;


    --fs-1: 1rem;
    --fs-1-5: 1.5rem;
    --fs-1-75: 1.75rem;
    --fs-2: 2rem;
    --fs-2-5: 2.5rem;
    --fs-3: 3rem;


    /* font family */
    --f-rm: 'Roboto Mono', monospace;;
    --f-sm: 'Space Mono', monospace;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    overflow: auto;
    /* background-color: rgb(193, 189, 189); */
    background-image: url(/images/img2.svg), linear-gradient(90deg, #0d0e0d, transparent);
    background-attachment: fixed;
    background-size: contain; 
    color: var(--little);
    font-family: var(--f-sm);
    background-repeat:repeat-x;
    background-position: center center;
    background-blend-mode:overlay;
}
body.dark-theme{
    --main-color: #b0bdb7;
    --little: #fff;
    --neutral-color: #c71781;
    --modal-bottom: #c71781;
    --main-text-background: rgba(255, 255, 255, .3);
}
.container{
    max-width: 1365px;
    margin: 1rem auto;
    background-color: var(--background-1);
    overflow: hidden;
    position: relative;
    color: #dddada;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.backdrop{
    background-color: var(--backdrop);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: fixed;
    z-index: 5;
    right: -300px;
    top: 50%;
    transform: translateY(-50%);
    transition: .6s;
}
.backdrop.active{
    height: calc(1000px * 3);
    width: calc(1000px * 3);
}
.header{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 1rem;
    position: absolute;
    right: 0;  
}
ion-icon:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 50%;
    width: 400px;
    height: 400px;
    z-index: 1;
    margin-right: .7rem;
    transform: rotate(270deg) translateY(200px) translateX(50%);
}

.menu__button,
.menu li{
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: .2rem;
    font-size: var(--fs-1-3);
    border-radius: 50%;
}
.menu.active{
    z-index: 100;
}
.menu__button{
    z-index: 10000;
    cursor: pointer;
    transition: 1s;
}
.menu.active .menu__button{
    background: #c71781;
    color: #dddada;
    transform: rotate(180deg);
}

.menu li{
    transform-origin: 200px;
    left: 0;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(175px);
    box-shadow: var(--shadow-1);
    /* z-index: 1000; */

}
.menu.active li{
    transform: rotate(calc(180deg/5 * var(--i)));
    z-index: 1000;
}
.menu.active ion-icon{
    transform: rotate(calc(180deg/-5 * var(--i) - 270deg));
}

/* section social */
.socials{
    grid-area: social;

}
.social{
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}
.social-icon{
    color: var(--little);
    font-size: var(--fs-1-75);
    padding: var(--margin-05);
    transform: rotate(-90deg);
}
.social-icon:hover{
    color: var(--neutral-color)
}
.vertical{
    width: 1px;
    height: 130px;
    background-color: var(--little);
}
.non{
    grid-area: menu;
    width: 100px;
}


/* Main section */
main{
    grid-area: main;
    padding: var(--fs-1);
    margin-top: 2rem;
    vertical-align: center;
    line-height: 3rem;
    font-family: var(--f-rm);

}
.main-text{
    background: var(--main-text-background);
    border-bottom: 1px solid var(--modal-bottom);
    padding: var(--fs-1);
    border-radius: 5px;
}
.text-body{
    font-size: var(--fs-2);
    color: var(--neutral-color);
}
.i-am{
    font-size: 3rem;
}
.name{
    font-size: 4rem;
    color: var(--little);
}
.text-details{
    color: var(--neutral-color);
    font-family: var(--f-sm);
    font-size: var(--fs-1-5);
}


/*  footer section */
.footer{
    grid-area: footer;
    bottom: 0;
    font-family: inherit;
    font-size: inherit;
    /* left: 100%; */
    /* transform: translateX(-50%,0%); */
    text-align: center;
    /* color: var(--neutral-color); */
    padding: var(--margin-05);
}
/* @media screen and (max-width: 700px) {
    .menu-icon{
        display: inherit;
    }
    .menu{
        display: none;
    }
    header{
        justify-content: flex-end;
    }
    .main{
        margin-top: var(--fs-3);
    }
}
@media screen and (max-width: 400px) {

    .non{
        width: 0;
    }
    .social{
        bottom: 0px;
    }
    .vertical{
        height: 90px;
    }
    .text-details{
        line-height: var(--fs-2)
    }
    .footer{
        font-size: .7rem
    }
} */

